<div class="wrapper">
    <mat-form-field>
        <input [formControl]="source" autocomplete="off" type="{{ type == 'count'? 'number': type}}" matInput
            placeholder="{{ placeholder }}" />
        <button *ngIf="type != 'count'" type="button" mat-icon-button matSuffix (click)="clear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>

    <ng-container [ngSwitch]="type">
        <div class="btn-easy" *ngSwitchCase="'number'">
            <button type="button" mat-stroked-button (click)="set(50)" color="primary">
                +50
            </button>
            <button type="button" mat-stroked-button (click)="set(200)" color="primary">
                +200
            </button>
            <button type="button" mat-stroked-button (click)="set(500)" color="primary">
                +500
            </button>
        </div>
        <div class="btn-count" *ngSwitchCase="'count'">
            <button type="button" mat-stroked-button color="primary" (click)="set(-1)" color="primary">
                <mat-icon>remove</mat-icon>
            </button>
            <button type="button" mat-stroked-button color="primary" (click)="set(+1)" color="primary">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </ng-container>
</div>

<!-- <div *ngIf="type == 'number'">
  <button type="button" mat-stroked-button (click)="set(50)" color="primary">
    +50
  </button>
  <button type="button" mat-stroked-button (click)="set(200)" color="primary">
    +200
  </button>
  <button type="button" mat-stroked-button (click)="set(500)" color="primary">
    +500
  </button> -->