<div class="mat-title text-primary">period</div>
<mat-action-list>
  <!-- <ng-container *ngIf="slectPeriod == periods.length - 1"> -->
  <mat-list-item (click)="pickerFrom.open()">
    <input
      class="hidden"
      [max]="dateTo.value"
      [formControl]="dateFrom"
      [matDatepicker]="pickerFrom"
      autocomplete="off"
    />
    <mat-datepicker #pickerFrom [startAt]="dateFrom.value"></mat-datepicker>
    <span>От: {{ dateFrom.value | date: "EE, d MMM yyyy" }}</span>
  </mat-list-item>
  <mat-list-item (click)="pickerTo.open()">
    <input
      class="hidden"
      [min]="dateFrom.value"
      [formControl]="dateTo"
      [matDatepicker]="pickerTo"
      autocomplete="off"
    />
    <mat-datepicker #pickerTo [startAt]="dateTo.value"></mat-datepicker>
    <span>До: {{ dateTo.value | date: "EE, d MMM yyyy" }}</span>
  </mat-list-item>
  <!-- </ng-container> -->
  <mat-list-item>
    <mat-icon matListIcon>sort</mat-icon>
    <span>По убыванию</span>
  </mat-list-item>

  
</mat-action-list>

<button class="btn-fly" (click)="openDialod()" mat-fab>
  <mat-icon>update</mat-icon>
</button>
