
<!-- <ng-container *ngIf="!(loading$ | async)"> -->
    <mat-action-list>
        <mat-list-item *ngFor="let s of sales; let i = index">

            <app-sale-item class="sale-item" [sale]='s' (click)="onSelect(s)"></app-sale-item>

            <button class="more-vert" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu [xPosition]="'before'" #menu="matMenu">
                <button (click)="onDelete(s)" mat-menu-item> Удалить </button>
            </mat-menu>

        </mat-list-item>

    </mat-action-list>

    <div *ngIf="!sales?.length" class="mat-h2 emty-sale">
        Сегодня небыло продаж
    </div>

<!-- </ng-container> -->

<!-- <ng-template #emtySales> -->
<!-- </ng-template> -->