<mat-toolbar>
    <span>Продажи</span>
</mat-toolbar>

<div (click)="picker.open()" matRipple class="mat-h2 date" color='primary'>
    <input (dateChange)="onDateChange($event)" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker #picker></mat-datepicker>
    {{date | date:"EE, d MMM yyyy"}}
    <div class="mat-body-1 date-description">Сегодня</div>
</div>

<mat-action-list>
    <div class="item" *ngFor="let s of sales; let i = index">
        <mat-list-item (click)="onSelect(s)">

            <app-sale-item class="sale-item" [sale]='s'></app-sale-item>

            <button (click)="$event.stopPropagation()" class="more-vert" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu [xPosition]="'before'" #menu="matMenu">
                <button (click)="onDelete(s)" mat-menu-item> Удалить </button>
            </mat-menu>

        </mat-list-item>
    </div>

</mat-action-list>

<div *ngIf="!sales?.length" class="mat-h2 emty-sale">
    Сегодня небыло продаж
</div>