.sale__item{
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

// .sale__item_name {
//    // flex-grow: 2;
// }
// .sale__item_num {
//    // flex-grow: 1;
// }
.sale__item_total {
   text-align: right;
}
.sale__item_name, 
.sale__item_num ,
.sale__item_total{
   flex-basis: 33.3333%;
}

