<!-- <div class="sale__item">
   <div class="sale__item_name">
      {{s.name}}
   </div>
   <div class="sale__item_num">
      {{getNumProducts(i) | async}} шт.
   </div>
   <div class="sale__item_total">
      {{getTotalPrice(i) | async | currency:'RUB':'symbol-narrow'}}
   </div>
</div> -->

<div class="sale__item">
   <div class="sale__item_name">
      id: {{sale? sale.id: "Nan"}}
   </div>
   <div class="sale__item_num">
    {{getNumProducts()}} шт.
   </div>
   <div class="sale__item_total">
      {{getTotalPrice() | currency:'RUB':'symbol-narrow'}}
   </div>
</div>