
@import '../../../styles.scss';


// @import '~@angular/material/theming';	
// @import '../../styles.scss';	
//  $background: map-get($dark-theme, background);	
//  $foreground: map-get($iw-theme, foreground);	

// .container{	
//    background-color: #fff;	
//    background-color: mat-color($background, background);	
//    background-color: mat-color($foreground, text);	
// }	

// @include mat-button-theme($dark-theme);


.save-btn{
    margin-left: auto;
}
.date{
    text-align: center;
    padding: 10px 0;
    user-select: none;
 }
 :host .container{
     display: block;
     padding: 15px;
 }
 .form{
     &__discount-field{
        width: 225px;
     }
     &__discount{
         margin-bottom: 15px;
     }
    &__product-field{
        display: flex;
        flex-direction: column;
    }
 }
 .panel-description{
     text-align: right;
     width: 100%;
     span{
         display: inline-block;
         & + span{
             margin-left: 30px;
         }
     }

    //  display: flex;
    //  justify-content: space-between;
 }



 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}