<mat-toolbar>
    <button mat-icon-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Список файлов</span>
    <button class="btn-create" (click)="create()" mat-flat-button color="primary">
        Создать
    </button>
</mat-toolbar>
<!-- <app-tool-bar 
    [btnText]="'Создать'" 
    (btnClick)="create()" 
    (arrowClick)="back()"
>
</app-tool-bar> -->
<mat-action-list disableRipple="true">
    <mat-list-item *ngFor="let file of (files$ | async); let i = index" (click)="select(file)">
        <h3 matLine>
            <img src="{{file.iconLink}}" alt="">
            {{file.name}}
        </h3>
        <p matLine>
            id: {{file.id}}
        </p>
        <p *ngIf="file.size" matLine>
            Размер: {{file.size}} byte
        </p>
        <p matLine>
            Создан: {{file.createdTime | date:"dd-MM-yy hh:mm"}}
        </p>
        <p matLine>
            Создан: {{file.modifiedTime | date:"dd-MM-yy hh:mm"}}
        </p>
        <button (click)="delete($event, file)"  mat-icon-button>
            <mat-icon > delete </mat-icon>
        </button>

        <button (click)="update($event, file)"  mat-icon-button>
            <mat-icon > update </mat-icon>
        </button>
        <button (click)="getBodyFile($event, file)"  mat-icon-button>
            <mat-icon > get_app </mat-icon>
        </button>

        

    </mat-list-item>
</mat-action-list>