<mat-toolbar>
    <span>Настройки</span>
</mat-toolbar>
<div class="container">
    <h4>Выбранный файл</h4>
    <mat-card>
        <ng-container *ngIf="(file$ | async) as file">
            <mat-card-title>
                <img src="{{file.iconLink}}" alt="iconfile">
                <span> {{file.name}}</span>
            </mat-card-title>
            <mat-card-content>
                <ul>
                    <li>
                        <span class="mat-body-strong">ID:</span>
                        <span> {{file.id}} </span>
                    </li>
                    <li>
                        <span class="mat-body-strong">Размер:</span>
                        <span>{{file.size}}</span></li>
                    <li>
                        <span class="mat-body-strong">Создан:</span>
                        <span>{{ file.createdTime | date:"dd-MM-yy hh:mm "}}</span>
                    </li>
                    <li>
                        <span class="mat-body-strong">Изменен:</span>
                        <span>{{ file.modifiedTime | date:"dd-MM-yy hh:mm "}}</span>
                    </li>
                </ul>
            </mat-card-content>

        </ng-container>
        <mat-card-actions>
            <button (click)="onChange()" mat-button> Изменить </button>
        </mat-card-actions>
    </mat-card>

</div>