<mat-toolbar color="primary">
   <button mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
   </button>

   <span>{{title$ | async}} </span>
</mat-toolbar>


<div class="container">
      <!-- [multi]='true' -->
   <mat-accordion  [hideToggle]='true'>
      <mat-expansion-panel #panel [class.new-product]='lastItem && !panel.expanded' *ngFor="let p of products$ | async; let lastItem = last">
         <mat-expansion-panel-header>
            <mat-panel-title> {{lastItem? '': p.name}} </mat-panel-title>
            <mat-panel-description *ngIf='lastItem'> Добавить новый товар </mat-panel-description>
         </mat-expansion-panel-header>
         <app-product-item [product]='p'></app-product-item>
         <mat-action-row>
            <button mat-button *ngIf='lastItem' (click)="addProduct()">
               <mat-icon>save</mat-icon>
            </button>

            <mat-icon>delete</mat-icon>
            <span> Удалить </span>
         </mat-action-row>
      </mat-expansion-panel>

   </mat-accordion>
   <button mat-button (click)="update()">
      <mat-icon>update</mat-icon>
   </button>

</div>