@import '../../../../vars';

.save-btn {
    margin-left: auto;
}

.date {
    text-align: center;
    padding: 10px 0;
    user-select: none;
}

.form__discount {
    margin-bottom: 15px;
}

.close-panel-description {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &>* {
        flex-basis: 0;
        flex-grow: 1;
    }
    &> :last-child {
        flex-grow: 2;
    }
}

.nowrap-hidden-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
    flex-basis: 0;
}
.mat-expansion-panel-header-description{
    min-width: 60%;
    justify-content: center;
}
.mat-expansion-panel-header-title{
    min-width: calc(40% - 16px);
}

