<mat-toolbar color="primary">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{ title }} </span>
  <button (click)="save()" class="save-btn" [disabled]="form.invalid" mat-raised-button color="primary">
    Сохранить
  </button>
</mat-toolbar>

<section  class="container-page mat-typography mat-app-background">
  <h2 class="date">
    {{(sale$ | async)?.date | date:"EE, d MMM yyyy"}}
  </h2>

  <form class="form" [formGroup]="form" [appConnectFormGroup]="sale$ | async" (ngSubmit)="submit()" #formRef="ngForm">
    <!-- Discount -->
    <mat-card class="form__discount">
      
      <app-sale-form-control [source]="form.controls['discount']" type="number" placeholder="Скидка">
      </app-sale-form-control>
     
    </mat-card>
    <!--  -->
    <mat-accordion formArrayName="productList" [hideToggle]="true">
      <mat-expansion-panel #accordion *ngFor="let product of arrayProductControl.controls; index as i" [formGroupName]="i">
        <!-- Product List Header -->
        <mat-expansion-panel-header>
          <mat-panel-title *ngIf="!accordion.expanded">
            <span class="nowrap-hidden-text"> {{ product.get("name").value }} </span>
          </mat-panel-title>
          <mat-panel-description>
            <div class="close-panel-description" *ngIf="!accordion.expanded else dsc">
              <span>{{ product.get("count").value }}шт.</span>
              <span class="nowrap-hidden-text">
                {{
                  product.get("price").value * product.get("count").value
                    | currency: "RUB":"symbol-narrow"
                }}
              </span>
            </div>
            <ng-template #dsc>
              <span class="open-panel-description"> Подробно </span>
            </ng-template>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--  -->
        <!-- Product List Content  -->
        <!-- <app-search-product></app-search-product> -->
     
        
        <app-sale-form-control [source]="arrayProductControl.controls[i].controls['name']" type="text" placeholder="Название">
        </app-sale-form-control>


        <app-sale-form-control [source]="arrayProductControl.controls[i].controls['count']" type="count"
          placeholder="Количество">
        </app-sale-form-control>
        <app-sale-form-control [source]="arrayProductControl.controls[i].controls['price']" type="number" placeholder="Цена">
        </app-sale-form-control>


        <!--  -->
        <!-- Product List Action -->
        <mat-action-row class="btn-actions">
          <button color="primary" mat-button (click)="delete(i)">
            <mat-icon>delete</mat-icon>
            <span> Удалить </span>
          </button>
        </mat-action-row>
        <!--  -->
      </mat-expansion-panel>
      <!--  -->

      
      <!-- New Product -->
      <mat-expansion-panel>
        <!-- New Product List Header -->
        <mat-expansion-panel-header>
          <mat-panel-description>
            <span>+ Добавить продукт</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--  -->
        <!-- New Product List Content  -->
        <app-sale-form-control [source]="formNewProduct.controls['name']" type="text" placeholder="Название">
        </app-sale-form-control>
        <app-sale-form-control [source]="formNewProduct.controls['count']" type="count" placeholder="Количество">
        </app-sale-form-control>
        <app-sale-form-control [source]="formNewProduct.controls['price']" type="number" placeholder="Цена">
        </app-sale-form-control>
        <!--  -->
        <!-- New Product List Action -->
        <mat-action-row class="btn-actions">
          <button mat-button color="accent" [disabled]="formNewProduct.invalid"
            (click)="add()">
            <mat-icon>playlist_add</mat-icon>
            <span> Добавить </span>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
      <!-- -->
    </mat-accordion>
  </form>
</section>