table {
  width: 100%;
}
.mat-list-item{
    position: relative;
    span + span{
        margin-left: 10px;
    }
}
.hidden{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-100%, -50%);
    visibility: hidden;
    // display: none;
}

.mat-title{
    text-align: center;
}

.history {

    &__period {
        margin-bottom: 30px;
    }

    &__table {
    }

    &__date {
        text-align: center;
        width: 100%;
    }
}
