<section class="history">
  <app-selector></app-selector>
  <ng-container *ngFor="let h of historys$ | async; let i = index">
    <app-table-history
      @fadeIn
      [data]="h"
      class="history__table"
    ></app-table-history>
  </ng-container>
</section>

<button mat-flat-button color="primary" (click)="textarea.value = generete()">
  Generete Sale
</button>

<textarea style="display: block; width: 100%;" rows="10" #textarea></textarea>
<pre>{{ sales | json }}</pre>
<pre>{{ name$ | async | json }}</pre>
