@import '~@angular/material/theming';
@import '../../../styles.scss';

.date {
    // margin-top: 20px;
    text-align: center;
    padding: 10px 0;
    color: mat-color($iw-primary, text);
    cursor: pointer;
    position: relative;
    input{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-100%, -50%);
        visibility: hidden;
    }
 
}

.date-description{
    color: mat-color($iw-accent, text);
 }


//  .container{
//     padding: 0 15px;
//  }