
@import '~@angular/material/theming';

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@include mat-core();


// Тест кастем тема
// @mixin candy-carousel-theme($theme) {
//   $primary: map-get($theme, primary);
//   $foreground: map-get($theme, foreground);
//   $background: map-get($theme, background);
//   .active{
//     background-color: mat-color($primary, 100);
//     // background-color: mat-color($background);
//     // .mat-line{
//     //   color: mat-color($foreground, text);
//     // }
//   }
// }


$iw-primary: mat-palette($mat-indigo);
$iw-accent: mat-palette($mat-pink, A200, A100, A400);
$iw-warn: mat-palette($mat-red);

// $btn-app-primary: mat-palette($mat-indigo, 400);
// $btn-app-theme:mat-dark-theme($btn-app-primary, $iw-accent, $iw-warn);

// Create the theme object (a Sass map containing all of the palettes).
$iw-theme: mat-light-theme($iw-primary, $iw-accent, $iw-warn);
// $iw-theme: mat-dark-theme($iw-primary, $iw-accent, $iw-warn);

@include angular-material-theme($iw-theme);
// @include candy-carousel-theme($iw-theme); 

// Define an alternate dark theme.
// $dark-primary: mat-palette($mat-blue-grey);
// $dark-accent:  mat-palette($mat-amber, A200, A100, A400);
// $dark-warn:    mat-palette($mat-deep-orange);
// $dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
//$dark-theme:   mat-dark-theme($iw-primary, $iw-accent, $iw-warn);

.dark-theme {
  $iw-theme: mat-dark-theme($iw-primary, $iw-accent, $iw-warn);
  @include angular-material-theme($iw-theme);
  // @include mat-button-theme($btn-app-theme);

  .mat-stroked-button.mat-primary{
    color: mat-color($iw-primary, 400);
  }



 
 // @include angular-material-theme($dark-theme);
  // @include candy-carousel-theme($dark-theme); 
}

@mixin heightContent(){
  min-height: calc(100vh - 64px);
} 


html {
   box-sizing: border-box;
 }

 .container{
  display: block;
  padding: 30px 15px;
}
 
 
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }
 
 html,
 body {
   height: 100%;
   position: relative;
   overflow-x: hidden;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   margin: 0; 
   background-color: #e7ebf0;
 }

.container-page{
  max-width: 1000px;
  margin: 0 auto;
  // overflow-x: hidden;
  //  font-weight: 400;
  //  padding: 20px 20px 50px;
   // position: relative;
  //  height: 100%;
   // $background: map-get($iw-theme, background);
   // background-color: mat-color($background, background);
   // min-height: 100vh;
}