<input #d [matDatepicker]="picker" placeholder="Choose a date">
<mat-datepicker touchUi #picker></mat-datepicker>
<div #date (click)="picker.open()" matRipple class="mat-h1 date">
   <!-- {{date | date:"EE, d MMM yyyy"}} -->
   {{d.value | date}}
</div>
<pre>
   <!-- {{picker | date}} -->
</pre>


<mat-action-list>
   <!-- <mat-datepicker #picker></mat-datepicker> -->
   <button *ngFor="let s of sales$ | async; let i = index" mat-list-item (click)="goToProductList(i)">
      <app-sale-item class="sale-item" [sale]='s'></app-sale-item>
   </button>
</mat-action-list>

<button mat-button (click)="update()">
   <mat-icon>update</mat-icon>
</button>

<button class="add-sale_btn" mat-fab color="primary" (click)="addSale()">
   <mat-icon>add</mat-icon>
</button>

<router-outlet></router-outlet>