<!-- <button *ngIf="!(isSignedIn$ | async)" (click)="signIn()" mat-flat-button color="primary">
  SignIn
</button>
<button *ngIf="isSignedIn$ | async" (click)="signOut()" mat-flat-button color="primary">
  SignOut
</button> -->
<!-- <div class="dark-theme"> -->


    <mat-toolbar>
        <button *ngIf="(breadcrumbs$ | async)?.id !== 'root' || isNewFile" mat-icon-button (click)="navigateTo()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <span>{{(breadcrumbs$ | async)?.name}} </span>
    </mat-toolbar>
    <mat-progress-bar *ngIf="driveStore.loading$ | async" mode="indeterminate"></mat-progress-bar>

    <ul>
        <li>
            <button (click)="crateFile()" mat-button color="primary"> Create File </button>
        </li>
        <li>
            <button (click)="crateFolder()" mat-button color="primary"> Create Folder </button>
        </li>
        <li>
            <button (click)="driveStore.listClear()" mat-button color="primary">Clear List </button>
        </li>
        <li>
            <button (click)="getList()" mat-button color="primary"> Get List </button>
        </li>
        <li>
            <button (click)="getFile()" mat-button color="primary"> Get File </button>
        </li>
        <!-- <li>
        <button *ngIf="selectedFile" mat-button (click)="deleteFile()" color="primary">Delete</button>
    </li> -->
    </ul>

    <ng-template [ngTemplateOutlet]="loadTemplate()"></ng-template>

    <ng-template #matListTemplate>
        <mat-action-list [disableRipple]='true'>
            <mat-list-item [class.active]="selectedFile === file" (click)="onSelected(file)"
                (dblclick)="onDblClick(file)" *ngFor="let file of list$ | async">
                <img src="{{file.iconLink}}" alt="">
                <div>
                    <span matLine>{{file.name}} </span>
                    <span matLine>{{file.modifiedByMeTime | date:"EE, d MMM yyyy"}}</span>
                </div>
                <button class="more-vert" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu [xPosition]="'before'" #menu="matMenu">
                    <button (click)="deleteFile()" mat-menu-item> Удалить </button>
                </mat-menu>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-action-list>
    </ng-template>


    <ng-template #fileTemplate>
        <mat-form-field class="full-width">
            <input matInput [formControl]="fcInput" placeholder="name file">
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea [appConnectFormControl]="(file$ | async)?.body" [formControl]="fcTextarea" mat-autosize matInput
                placeholder="Textarea"></textarea>
        </mat-form-field>
        <button (click)="saveFile()" [disabled]="!(fcTextarea.valid && fcInput.valid)" mat-raised-button
            color="primary"> Сохранить </button>
    </ng-template>









    <pre>    {{ pre$ | async | json }}  </pre>

<!-- </div> -->